# This is the URL of your healthchecks instance
ping_url=https://your.healthchecks.site/ping/your-healthcheck-id

# This is the timeout limit for the above URL.
ping_timeout=10

# This is the time between each ping in seconds.
ping_interval=30
